.SideNav {
  position: relative;
}
.SideNav > div {
  height: 100%;
}
.SideNav button {
  display: none;
  background-color: #2a3038;
  border: none;
  border-left: 5px solid #fda929;
  color: white;
  font-size: 1.5rem;
  width: 40px;
  height: 100%;
}
.SideNav button:focus {
  outline: none;
}
.SideNav nav {
  width: 350px;
  min-height: 100%;
  background-color: #2a3038;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SideNav img {
  height: 250px;
}
.SideNav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SideNav div > a {
  margin: 2.5rem 0;
  color: white;
  font-size: 2rem;
}
.SideNav .show_nav {
  left: 0;
}

@media (max-width: 2000px) {
  .SideNav nav {
    width: 300px;
  }
  .SideNav img {
    height: 200px;
  }
  .SideNav div > a {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 1600px) {
  .SideNav nav {
    width: 250px;
  }
  .SideNav img {
    height: 150px;
  }
  .SideNav div > a {
    font-size: 1.3rem;
  }
}
@media (max-width: 1200px) {
  .SideNav nav {
    width: 200px;
  }
  .SideNav img {
    height: 125px;
  }
  .SideNav div > a {
    font-size: 1rem;
    margin: 1.5rem 0;
  }
}
@media (max-width: 768px) {
  .SideNav > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: -255px;
    transition: left 700ms ease-in-out;
  }
  .SideNav button {
    display: initial;
  }
  .SideNav nav {
    width: 250px;
  }
  .SideNav img {
    height: 150px;
  }
  .SideNav div > a {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .SideNav > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: -205px;
    transition: left 700ms ease-in-out;
  }
  .SideNav button {
    display: initial;
  }
  .SideNav nav {
    width: 200px;
  }
  .SideNav img {
    height: 125px;
  }
  .SideNav div > a {
    font-size: 1rem;
    margin: 1.5rem 0;
  }
}
