.header {
    border-radius: 15px;
    font-size: xx-large;
    background: #3B8CD9;
    padding: 50px; 
    width: 1000px; 
    height: 150px;
    margin-left: 450px;
    bottom: 5000px;
    position: relative;
    margin-top: 90px;
}


.details {
    border-radius: 15px;
    font-size: x-large;
    text-align: left;
    background: #FDA929;
    padding: 50px; 
    width: 800px;
    margin-left: 3rem; 
    margin-top: 90px;
    line-height: 1.6;
}

.mentordetails  {
    font-size: x-large;
    background: #FDA929;
    text-align: left; 
    border-radius: 15px;
    padding: 50px; 
    width: 800px;
    line-height: 1.6;
    margin-left: 3rem;
    margin-top: 90px;
}

.programinfo {
    border-radius: 15px;
    font-size: large;
    text-align: left;
    background: #FDA929; 
    padding: 50px; 
    width: 800px; 
    height: 200px;
    margin-left: 650px;
    bottom: 5000px;
    position: relative;
    margin-top: 90px;
    line-height: 1.6;
}

.Account .title {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', 'Ariel';
    padding: 3rem;
    box-shadow: 2px 2px 10px #ddd;
}

.Account .content {
    width: 100%;
}

.Account {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
  }
