.side-bar {
    width: 300px;
    height: 5000px; 
    background-color: #2a3038;
    margin: 0;
}


.navigation {
    padding-top: 50px; 
    text-align: center;
    justify-content: space-between;
}

.navigation li{
    margin: 80px 0;
    color: white;
    font-size: xx-large;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  }
 


