.Login main {
  min-height: 100vh;
  background-color: #2a3038;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo_link {
  position: absolute;
  top: 15px;
  left: 50px;
}

.Login img {
  width: 150px;
  height: 150px;
}

.card {
  border-radius: 40px;
  background-color: #fda929;
  color: white;
  width: 40%;
  margin: 0 auto;
  padding: 2rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 80px;
  height: 80px;
  margin: 1rem 0 1.5rem;
}

.Login h1 {
  font-size: 3.25rem;
  font-weight: 600;
  color: white;
  margin: 0;
}

.Login form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Login label {
  align-self: flex-start;
}

.Login input {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1.5rem;
  border: none;
}

.Login button {
  /* width: 45%; */
  padding: 0.5rem 4rem;
  border-radius: 50px;
  border: none;
  align-self: center;
  color: white;
  background-color: #00b497;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
  transition: background-color 0.5s;
}

.Login button:hover {
  background-color: #2a3038;
}

.Login input:focus,
.Login button:focus {
  outline: none;
}

.sign_up {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.card a {
  color: white;
  margin: 0.75rem auto 0;
}

.sign_up a {
  font-weight: 600;
}

@media (min-width: 1440px) {
  .card {
    width: 600px;
  }
  .logo_link img {
    width: 200px;
    height: 200px;
  }
  .card h1 {
    font-size: 4rem;
  }
  .card img {
    width: 100px;
    height: 100px;
  }
  .Login form {
    width: 70%;
    font-size: 1.4rem;
  }
  .Login input {
    font-size: 1.4rem;
  }
  .sign_up {
    font-size: 1.4rem;
  }
  .sign_up ~ a {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 50%;
    padding: 2rem 0;
  }
  .logo_link img {
    width: 120px;
    height: 120px;
  }
  .Login form {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 500px;
  }
  .logo_link {
    display: none;
  }
}

@media (max-width: 600px) {
  .card {
    width: 400px;
    margin: 1rem 0;
  }
  .card img {
    margin: 1.5rem 0 2rem;
  }
  .Login form {
    width: 75%;
  }
}
@media (max-width: 425px) {
  .card {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 4rem 1rem;
  }
  .card img {
    margin: 2rem 0 2.5rem;
  }
  .Login form {
    width: 80%;
  }
}
