#webinar-caption {
  text-align: center;
  font-size: medium;
  color: white;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.Module iframe {
  margin: 3rem 0 0;
  height: 500px;
  width: 800px;
}

.videos {
  display: flex;
  justify-content: center;
}
.videos iframe {
  margin: 3rem 2rem 0;
}

#step {
  text-align: left;
}

@media (max-width: 2000px) {
  .Module iframe {
    margin: 3rem 0 0;
    height: 400px;
    width: 650px;
  }
  .videos iframe {
    margin: 3rem 2rem 0;
  }
}
@media (max-width: 1440px) {
  .Module iframe {
    margin: 1.5rem 0 0;
    height: 280px;
    width: 380px;
  }
  .videos iframe {
    margin: 2rem 1rem 0;
  }
}
@media (max-width: 768px) {
  .videos {
    flex-direction: column;
    align-items: center;
  }
  .Module iframe {
    margin: 1rem 0 0;
  }
}
@media (max-width: 650px) {
  .Module iframe {
    margin: 1rem 0 0;
    height: 200px;
    width: 350px;
  }
}
@media (max-width: 550px) {
  .Module iframe {
    margin: 1rem 0 0;
    height: 200px;
    width: 275px;
  }
}
@media (max-width: 425px) {
  .Module iframe {
    margin: 1rem 0 0;
    height: 150px;
    width: 225px;
  }
}
@media (max-width: 320px) {
  .Module iframe {
    margin: 1rem 0 0;
    height: 150px;
    width: 200px;
  }
}
