.Module #title {
  border-radius: 15px;
  float: right;
  font-size: xx-large;
  background: #fda929;
  padding: 50px;
  height: 150px;
  width: 800px;
  margin-left: 500px;
  bottom: 5000px;
  position: relative;
  margin-top: 90px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.description {
  border-radius: 15px;
  float: right;
  font-size: x-large;
  background: #00b497;
  padding: 5px;
  width: 800px;
  height: 400px;
  margin-left: 450px;
  bottom: 5000px;
  position: relative;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.intro p {
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.resources p {
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.Module p {
  text-align: center;
  color: black;
  font-size: xx-large;
  padding: 10px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

#overview {
  text-align: center;
  color: black;
  font-size: xx-large;
  padding-top: 20px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.description li {
  margin: 20px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
  color: white;
  font-size: large;
  line-height: 1.6;
}

.intro {
  border-radius: 15px;
  float: right;
  font-size: xx-large;
  background: #00b497;
  padding: 10px;
  width: 800px;
  height: 1350px;
  margin-left: 450px;
  bottom: 5000px;
  position: relative;
  margin-top: 90px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.intro-content li {
  margin: 20px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
  color: white;
  font-size: large;
  margin: 20px;
  line-height: 1.6;
}

#webinar-caption {
  text-align: center;
  font-size: medium;
  color: white;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

.resources {
  border-radius: 15px;
  float: right;
  font-size: large;
  background: #00b497;
  padding: 10px;
  width: 800px;
  height: 1230px;
  margin-left: 450px;
  bottom: 5000px;
  position: relative;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  line-height: 1.6;
}

.resources-content li {
  margin: 20px;
  font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
  color: white;
  font-size: large;
  margin: 20px;
  line-height: 1.6;
}

.videos {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.videos li {
  margin: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tasks {
  border-radius: 15px;
  float: right;
  font-size: large;
  background: #00b497;
  padding: 10px;
  width: 800px;
  height: 1900px;
  margin-left: 450px;
  bottom: 5000px;
  position: relative;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  line-height: 1.6;
}
#step {
  text-align: left;
}

.submission-button {
  background-color: #fda929;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  margin-top: 180px;
}

#submission {
  color: white;
}
