.Module #title {
  border-radius: 15px;
  font-size: x-large;
  background: #fda929;
  padding: 50px;
  width: 1000px;
  height: 150px;
  margin-left: 450px;
  bottom: 5000px;
  position: relative;
  margin-top: 90px;
}

.Module #description {
  border-radius: 15px;
  font-size: x-large;
  background: #00b497;
  padding: 20px;
  width: 1000px;
  height: 600px;
  margin-left: 450px;
  bottom: 5000px;
  position: relative;
  margin-top: 90px;
  text-align: center;
}
