.testimonials_signup {
  width: 55%;
  display: flex;
  margin: 10rem auto;
}
.testimonials {
  width: 50%;
  padding: 3rem 5rem;
  background-color: #2a3038;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.quote_left {
  position: absolute;
  color: #14161f;
  opacity: 40%;
  top: 140px;
  left: 70px;
  font-size: 7rem;
}
.quote_right {
  position: absolute;
  color: #14161f;
  opacity: 40%;
  bottom: 150px;
  right: 80px;
  font-size: 7rem;
}
.signup {
  width: 50%;
  padding: 3rem 5rem;
  background-color: #fda929;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.signup h3 {
  color: #2a3038;
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 600;
  font-family: 'Poppins', 'Ariel';
}
.signup p {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0 1.75rem;
}
.signup form {
  display: flex;
  flex-direction: column;
}
.signup label {
  font-size: 1.8rem;
  color: white;
}
.signup input {
  font-size: 1.8rem;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0 1.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
}
.signup button {
  font-size: 1.7rem;
  width: 50%;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  outline: none;
  border: none;
  margin: 2rem auto 0;
  background-color: #2a3038;
  color: white;
}
.signup button:hover {
  cursor: pointer;
}

@media (max-width: 2200px) {
  .signup h3 {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }
  .signup p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .signup label {
    font-size: 1.3rem;
  }
  .signup input {
    font-size: 1.5rem;
  }
  .signup button {
    font-size: 1.3rem;
    width: 40%;
  }
}
@media (max-width: 2000px) {
  .testimonials_signup {
    width: 60%;
  }
  .testimonials {
    padding: 3rem 4rem;
  }
  .signup {
    padding: 3rem 4rem;
  }
}
@media (max-width: 1800px) {
  .testimonials_signup {
    margin: 7rem auto;
  }
  .testimonials {
    padding: 3rem;
  }
  .signup {
    padding: 3rem;
  }
  .quote_left {
    top: 40px;
    left: 50px;
    font-size: 7rem;
  }
  .quote_right {
    bottom: 70px;
    right: 50px;
    font-size: 7rem;
  }
  .signup h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .signup p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin: 0.5rem 0 1.75rem;
  }
  .signup label {
    font-size: 1rem;
  }
  .signup input {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 1.5rem;
  }
  .signup button {
    font-size: 1.05rem;
    width: 40%;
    padding: 0.5rem 1rem;
    margin: 2rem auto 0;
  }
}
@media (max-width: 1500px) {
  .testimonials_signup {
    width: 65%;
  }
}
@media (max-width: 1334px) {
  .testimonials_signup {
    width: 70%;
  }
  .testimonials {
    padding: 2rem 3rem;
  }
  .signup {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .testimonials_signup {
    width: 80%;
  }
  .signup {
    padding: 2rem 2.5rem;
  }
}
@media (max-width: 768px) {
  .testimonials_signup {
    flex-direction: column;
    align-items: center;
  }
  .testimonials {
    width: 85%;
    padding: 2rem 4rem;
    min-height: 400px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .signup {
    width: 85%;
    padding: 2rem 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media (max-width: 510px) {
  .testimonials {
    width: 100%;
    min-height: 500px;
  }
  .signup {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .testimonials,
  .signup {
    padding: 2rem 2.5rem;
  }
  .signup button {
    width: 50%;
  }
}
@media (max-width: 320px) {
  .signup button {
    width: 60%;
  }
}
